---
layout: null
title: João F. Corsini
description: Homepage of jfcorsini.com
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
            <p>{{site.description}}</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
              <article class="post featured">
                <header class="major">
                  <h2><a href="#">Why a blog?</a></h2>
                  <p>An attempt to explain how does this website exists</p>
                </header>
                <a href="#" class="image main"><img src="{{ "/images/monkey.jpg" | absolute_url }}" alt="" /></a>
                <p> It's easy to decide to start a new project. Let's say you want toto learn how to make a mobile application using React Native and publish your first app. First you go through the docs,
                  find a nice tutorial and start reading it. The begining is often very satisfying and the learning curve is quick. But at some point things start to get harder and
                  you find yourself stuck. Then what to do next? Stop that project and start a new thing, of course!
                </p>
                <p>
                  I have been doing that for too long and realized that it's time to take a project until the last step! Therefore, I decided to start this blog as a place that I
                  can write things that I have learned, things that I want to learn and also a place to show some things that I managed to do.
                </p>
    
                <h2><br>Latest blog posts can be seen below</h2>
              </article>
						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">{{site.go_to_block}}</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
