<div id="content" data-spy="scroll" data-target="menu">
    <div id="about">
        <h2>Who am I?</h2>
            <p>I'm a 24-years-old brazilian that wants to learn about everything. Currently I work as Junior Backend Engineer at <a href="http://arquivei.com.br>Arquivei">Arquivei</a> in São Carlos, Brazil, and have been  working with web development for more than a year.</p>
            <p>I like to learn things from different plataforms, such as <a href="https://www.freecodecamp.org/">FreeCodeCamp</a>, <a href="http://laracasts.com">Laracasts</a> and <a href="http://coursera.org">Coursera</a>, which provides me content but also have a space discuss and talk about new ideas with different people. Books are also always next to me.</p>
            <p>I'm always searching for a new idea to develop something that can somehow help people. So if you're interested, or just want to get in touch, you can find me at <a href="mailto:jf.corsini@gmail.com">jf.corsini@gmail.com</a>.</p>
    </div>
    <div class="content-image"></div>
    <div id="projects">
        <h2>My Projects</h2>
        <div class="project">
            <h3>
                <a href="http://jfcorsini.me">Portfolio</a>
                <a href="https://github.com/jfcorsini/jfcorsini.github.io">
                    <i title="Github - Portfolio" class="fa fa-github-square fa-1x"></i>
                </a>
            </h3>
            <p>An online portfolio containing some of my projects.</p>
        </div>
        <div class="project">
            <h3><a href="http://portalduo.com">Portal Duo</a></h3>
            <p>A portal to read about culture, people and what's happening around Londrina - Brazil. It's still being developed.</p>
        </div>
        <div class="project">
            <h3><a href="http://finezzasabonetes.com.br">Finezza Sabonetes</a></h3>
            <p>A website to show the products of Finezza Sabonetes for customers. It's currently being renewed.</p>
        </div>
    </div>
    <a href="http://unsplash.com/@porcorosso?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Porco Rosso">
    <div class="gorilla-image">
    </div>
    </a>
    <div id="experiences">
        <h2>Work experience</h2>
        <div class="experience">
            <div class="title">
                <h3><a href="http://arquivei.com.br">Arquivei</a></h3>
                <h3>12/16 - present</h3>
            </div>
            <p>Junior Backend Developer</p>
        </div>
        <div class="experience">
            <div class="title">
                <h3><a href="http://arquivei.com.br">Arquivei</a></h3>
                <h3>07/16 - 12/16</h3>
            </div>
            <p>Full-stack developer intern</p>
        </div>
        <div class="experience">
            <div class="title">
                <h3><a href="http://embraer.com">Embraer</a></h3>
                <h3>04/16 - 07/16</h3>
            </div>
            <p>Engineering Intern</p>
        </div>
        <div class="experience">
            <div class="title">
                <h3><a href="http://f-secure.com">F-Secure</a></h3>
                <h3>04/14 - 07/14</h3>
            </div>
            <p>Localization and Documentation Intern</p>
        </div>
    </div>
    <div id="technologies">
        <h2>Technologies</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur saepe illum libero fugit praesentium dolorum, perspiciatis a quia fugiat sint accusantium fuga obcaecati eligendi voluptatem, doloribus vero ab necessitatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur saepe illum libero fugit praesentium dolorum, perspiciatis a quia fugiat sint accusantium fuga obcaecati eligendi voluptatem, doloribus vero ab necessitatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur saepe illum libero fugit praesentium dolorum, perspiciatis a quia fugiat sint accusantium fuga obcaecati eligendi voluptatem, doloribus vero ab necessitatibus.</p>
    </div>
    <footer>
        <p>João Fernando Corsini - 2017</p>
    </footer>
</div>