<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12">

            <h2>Who?</h2>

            <p>A web developer that is always focusing on learning new and interesting technologies to work with.</p>
<br>
            <h2>Doing?</h2>

            <p>Currently working with backend development at <a href="http://arquivei.com.br">Arquivei</a>.</p>
<br>
            <h2>Enjoy?</h2>

            <p>Web development is definetely my thing! And since I graduated in Electronics Engineering, preparing some circuits and playing around with Arduino is also my thing. </p>

        </div>

        <div class="col-md-6 col-xs-12 col-sm-12">

            <h2>Skills?</h2>

            <h3>Daily use:</h3>
            <ul>
                <li>PHP</li>
                <li>PostgreSQL</li>
                <li>Javascript</li>
                <li>Git</li>
                <li>Linux environment</li>
            <ul>

            <h3>Sometimes:</h3>
            <ul>
                <li>Go</li>
                <li>Docker</li>
                <li>Redis</li>
                <li>Elasticsearch</li>
                <li>HTML5 / CSS3</li>
            <ul>

            <h3>Studying:</h3>
            <ul>
                <li>Python</li>
                <li>NodeJS</li>
                <li>React</li>
            <ul>

        </div>
    </div>

    <div class="projects">
        <h1>Projects?</h1>
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="http://portalduo.com" alt="Portal Duo">
                    <div class="project">
                        <img src="assets/img/project_1.png" alt="Project Portal Duo">
                        <div>
                            <h2>Portal Duo</h2>
                            <div class="description">
                                <span class="label">Wordpress</span>
                                <span class="label">CSS</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="http://portalduo.com" alt="Portal Duo">
                    <div class="project">
                        <img src="assets/img/project_1.png" alt="Project Portal Duo">
                        <div>
                            <h2>Portal Duo</h2>
                            <div class="description">
                                <span class="label">Wordpress</span>
                                <span class="label">CSS</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="http://portalduo.com" alt="Portal Duo">
                    <div class="project">
                        <img src="assets/img/project_1.png" alt="Project Portal Duo">
                        <div>
                            <h2>Portal Duo</h2>
                            <div class="description">
                                <span class="label">Wordpress</span>
                                <span class="label">CSS</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="project">
                    
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="project">
                    
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="project">
                    
                </div>
            </div>
        </div>
    </div>
</div>

