<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="nav-about" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-experience" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-education" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-abilities" href="#abilities">Abilities</a>
            </li>
<!--            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>-->
        </ul>
    </div>
</nav>