<div class="presentation">
    <div class="presentation-center">
        <div class="presentation-center-content">
            <h1>Hello,</h1>
            <h2>I'm João</h2>
            <p>a PHP developer @Arquivei</p>
        </div>
        <div class="presentation-center-menu">
            <div>
                <a href="#">About me</a>
                <a href="#">Projects</a>
                <a href="#">Technologies</a>
            </div>
        </div>
    </div>        
    <div class="presentation-footer">
        <ul>
            <li><a href="#"><i class="fa fa-envelope-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-github-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        </ul>
    </div>
</div>