<div id="presentation">
    <div class="presentation-center">
        <div class="presentation-center-content">
            <h1>Hello,</h1>
            <h2>I'm João</h2>
            <p>a PHP developer @<a href="http://arquivei.com.br">Arquivei</a></p>
        </div>
        <div id="menu">
            <div>
                <a id="menu-about" class="active" href="#about">About me</a>
                <a id="menu-projects" href="#projects">Projects</a>
                <a id="menu-technologies" href="#technologies">Technologies</a>
            </div>
        </div>
    </div>        
    <div class="presentation-footer">
        <ul>
            <li><a href="http://github.com/jfcorsini"><i title="jfcorsini" class="fa fa-github-square fa-2x"></i></a></li>
            <li><a href="http://facebook.com/jfcorsini"><i title="jfcorsini" class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="http://twitter.com/Joao_Corsini"><i title="Joao_Corsini" class="fa fa-twitter-square fa-2x"></i></a></li>
        </ul>
        <ul>
            <li><a id="presentation-footer-email" href="mailto:jf.corsini@gmail.com">jf.corsini@gmail.com</a></li>
        </ul>
    </div>
</div>