<div class="presentation">
    <div class="presentation-center">
        <div class="presentation-center-content">
            <h1>Hello,</h1>
            <h2>I'm João</h2>
            <p>a PHP developer @Arquivei</p>
        </div>
        <div class="presentation-center-menu">
            <div>
                <a href="#about">About me</a>
                <a href="#projects">Projects</a>
                <a href="#technologies">Technologies</a>
            </div>
        </div>
    </div>        
    <div class="presentation-footer">
        <ul>
            <li><a href="mailto:jf.corsini@gmail.com"><i title="jf.corsini@gmail.com" class="fa fa-envelope-square fa-2x"></i></a></li>
            <li><a href="www.github.com/jfcorsini"><i title="jfcorsini" class="fa fa-github-square fa-2x"></i></a></li>
            <li><a href="www.facebook.com/jfcorsini"><i title="jfcorsini" class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="www.twitter.com/Joao_Corsini"><i title="Joao_Corsini" class="fa fa-twitter-square fa-2x"></i></a></li>
        </ul>
    </div>
</div>