.index{
  width: 600px;
  height: 150px;
  margin: 0 auto 20px;

    h1 {
        margin: 35px 10px 25px;
        font-size: 40px;
        font-family: $font1;
    }

    p {
        margin: 15px 10px;
        font-size: 20px;
        font-family: $font3;
        font-weight: 100;

        span {
            font-weight: bold;
        }
    }
}

@include media-query($on-palm) {
  .index {
    width: 100%;
  }
}

footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0 -25px;
  height: 70px;
  background-color: $color1;
  .copyright {
    width: 50%;
    float: left;
    @include media-query($on-palm) {
      width: 100%;
    }
    p {
      padding-left: 10%;
      color: white;
      font-size: 0.7em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      @include media-query($on-palm) {
        text-align: center;
        padding: 0;
      }
    }
  }
}