.main-content {
    background-color: $color3;
    height: 600px;

    display: flex;
    justify-content: center;


    h2 {
        margin-top: 50px;
        color: $color2;
        font-weight: 100;        
        font-family: $font3;
        font-size: 55px;

        > span {
            position: relative;
            display: inline-block;
        }

        > span:after {
            content: '';
            position: absolute;
            top: 140%;
            left: -4em;
            border-bottom: 2px solid;
            width: 12em;
        }
    }
}

@include media-query($on-laptop) {
	.main-content h2 > span:after{
        width: 6em;
        left: -1.5em;
	}
}