/**
 * Site header
 */

header{
	background-image: url($main-image);
	background-size: cover;
	background-position: center;
	height: 100vh;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	flex-direction: column;

	> div {
		margin-bottom: 45vh;
		color:$color3;
		
		h1 {
			text-transform: uppercase;
			font-size: 48px;
			font-family: $font1;
			font-weight: 100;

			margin-bottom: 10px;
		}

		h1 > span{
			position: relative;
			display: inline-block;
		}
		h1 > span:before, h1 > span:after{
			content: '';
			position: absolute;
			top: 50%;
			border-bottom: 2px solid;
			width: 70px; /* half of limiter*/
		}
		h1 > span:before{
			right: 100%;
		}
		h1 > span:after{
			left: 100%;
		}

		h2 {
			font-family: $font2;
			font-size: 36px;
			font-weight: 200;

		}
	}

}

.author_image {
	content: url($author-image);
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
}


@include media-query($on-palm) {
	header > div {
		h1 {
		font-size: 32px;
		}

		h2 {
		font-size: 26px;
		}

		h1 > span:before, h1 > span:after{
			top: 230%;
			left: 30%;
			width: 125px;
		}
	}

	.author_image {
		height: 150px;
	}
}