nav {
    margin-top: -65px;
    padding-top: 65px;
    min-height: 65px;
}

.navbar {
    background-color: $color1;
    > div {
        li {
            margin: 0 55px;

            a {
                font-family: $font1;
                font-size: 20px;
                font-weight: 200 !important;
                color: $color3 !important;
            }

            a:hover {
                color: $color2 !important;
            }
        }
    }
}

.navbar-toggler:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        margin:0 auto;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}