nav {
    margin-top: -65px;
    min-height: 65px;
}

.navbar {
    background-color: $color-primary;

    > div li {
        margin: 0 55px;

        a {
            font-family: $primary-font-family;
            font-size: 20px;
            font-weight: 200 !important;
            color: $color-white !important;
        }

        a:hover {
            color: $color-secondary !important;
        }
    }
}

.navbar-toggler:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        margin:0 auto;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}