#presentation {
    background-image: url($main-image);
    background-size: cover;
    background-position: center;

    color: $white;

    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
    }

    .presentation-center {
        height: 90%;
        display: flex;
        justify-content: space-between;

        .presentation-center-content {
            flex:3;
            display: flex;

            flex-direction: column;
            justify-content: center;
            > * {
                margin-left: 30px;
            }
            
            h1 {
                font-family: $heading-font;
                font-weight: 200;
                font-size: 4.5em;
            }
            h2 {
                font-family: $sub-heading-font;
                font-weight: 100;
                font-size: 3em;
            }
            p {
                font-family: $text-font;
                font-weight: 300;
                font-size: 1.2em;
            }
        }

        #menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >div {
                margin: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                min-height: 150px;

                border: 1px $white solid;

                .active {
                    color: $white;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 10%;
                        right: 10%;
                        bottom: 10px;
                        /*top: 10px;
                        border-top: 1px $dark-primary-color solid;*/
                        border-bottom: 1px $white solid;
                    }
                }

                a {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: $white;
                    width: 120px;
                    position: relative;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        color: $white;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 10%;
                            right: 10%;
                            bottom: 10px;
                            /*top: 10px;
                            border-top: 1px $dark-primary-color solid;*/
                            border-bottom: 1px $white solid;
                        }
                    }
                }
            }
        }
    }

    .presentation-footer {
        height: 10%;
        ul {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            a {
                margin-left: 25px;
                color: $white;
                transition: color 0.5s;

                &:hover {
                    color: $dark-secondary-color;
                    transition: color 0.5s;
                }
            }
        }
    }
}