---
# This is my main CSS file
---

@charset "utf-8";

$main-image: "../img/sky.jpg";
$author-image: "../img/me.jpg";
$content-image-3-me: "../img/3_me.jpg";
$content-image-2-me: "../img/2_me.jpg";
$gorilla-image: "../img/gorilla2.jpg";

$heading-font: 'Josefin Slab', serif;
$sub-heading-font: 'Lato', serif;
$text-font: 'sans-serif';

// Color pallete

$white         : #E1E2EF;
$black         : #202020;
$neutral-color : #BEEB9F;

$dark-color  : #00A388;
$light-color : #79BD8F;
$link-color : #54D75D;

@import 
    url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400'),
    url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400')
;

$on-cellphone: 780px;
$on-laptop: 800px;

@import
    "reset",
    "main-block",
    "presentation",
    "content"
;
