---
# This is my main CSS file
---

@charset "utf-8";

$main-image: "../img/sky.jpg";
$author-image: "../img/me.jpg";

$font1: 'Cardo', serif;
$font2: 'Pathway Gothic One', sans-serif;
$font3: 'Open Sans', cursive;

// Color pallete

$color1 : #22435f;
$color2 : #0a1a13;
$color3 : #E1E2EF;
$color4 : #91989e;
$color5 : #1d2b22;

@import 
    url('https://fonts.googleapis.com/css?family=Cardo'),
    url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One'),
    url('https://fonts.googleapis.com/css?family=Julius+Sans+One'),
    url('https://fonts.googleapis.com/css?family=Open+Sans')
;

$on-cellphone: 600px;
$on-laptop: 800px;

@import
    "reset",
    "main-block",
    "presentation",
    "content"
;
