<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">My projects?</a></h2>
            </header>
            <a href="#" class="image main"><img src="{{ "/images/octopus.jpg" | absolute_url }}" alt="" /></a>
						<p>
              At the same time that I want to group blog posts, I also want to have a place where I can show my own projects, and this is it.
						</p>
						<p>
              Since I'm still setting up this website, I don't have any project to show at the moment. So hopefully soon this will have more updates 🐙
						</p>

					</article>
					
					<!-- Projects section -->
					<section class="posts">
							{% for post in site.posts %}
							{% if post.categories contains "Projects"%}
								<article>
									<header>
										<span class="date">{{ post.date | date_to_string }}</span>
										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
									</header>
									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
									<p>{{ post.excerpt }}</p>
									<ul class="actions">
										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
									</ul>
								</article>
							{% endif %}
							{% endfor %}
	
						</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
